---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/base-layout.astro';
import PostPreview from '@/components/post-preview.astro';

const allPosts = await getCollection('content');
---

<BaseLayout title="Home">
  <div class="mx-auto max-w-2xl space-y-8 p-12">
    <h2 class="text-2xl font-bold">POSTS</h2>
    <div class="space-y-4">
      {
        allPosts.length > 0
          ? allPosts.map((post: any) => (
              <PostPreview
                url={`/posts/${post.id}`}
                title={post.data.title}
                date={post.data.date}
                description={post.data.description}
              />
            ))
          : 'No post'
      }
    </div>
  </div>
</BaseLayout>
