---
export interface Props {
  title: string;
  description: string;
  date: Date;
  url: URL | string;
}

const { title, description, date, url } = Astro.props;
---

<a href={url}>
  <div
    class="group bg-background hover:bg-accent/60 rounded-lg px-4 py-3 transition-colors duration-500"
  >
    <div class="flex items-center gap-6">
      <div class="flex-1 space-y-4">
        <div>
          <div class="flex items-center gap-2">
            <h2 class="font-semibold tracking-tight">
              {title}
            </h2>
            <div class="text-muted-foreground text-right text-xs">
              {date.toLocaleDateString()}
            </div>
          </div>
          <div class="space-y-1">
            <p class="text-muted-foreground text-xs">
              {description}
            </p>
            <!-- <div class="text-muted-foreground flex gap-1 text-xs">
              <span class="bg-muted rounded-full px-1 py-0.5"># React</span>
              <span class="bg-muted rounded-full px-1 py-0.5"># React</span>
              <span class="bg-muted rounded-full px-1 py-0.5"># React</span>
            </div> -->
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</a>
