---
import NavBar from '@/components/nav-bar.astro';
import Footer from '@/components/footer.astro';
import '@/styles/globals.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/darkmode-favicon-96x96.png"
      sizes="96x96"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon/darkmode-favicon.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon/favicon.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="shortcut icon"
      href="/favicon/darkmode-favicon.ico"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" media="(prefers-color-scheme: light)" />
    <title>{title}</title>
  </head>
  <body>
    <div class="mx-auto h-full max-w-screen-sm">
      <NavBar />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    scrollbar-gutter: stable both-edges;
  }
</style>
