---
import '@/styles/mdx.css';

import type { InferEntrySchema } from 'astro:content';
import BaseLayout from './base-layout.astro';
import PostInformation from '@/components/post-information.astro';

export interface Props {
  frontmatter: InferEntrySchema<'content'>;
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="p-6">
    <PostInformation {...frontmatter} />
    <article class="mdx">
      <slot />
    </article>
  </div>
</BaseLayout>
